<!DOCTYPE html>
<html lang="en">

<head>
    <title>Solid Blog Simulation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
</head>

<body>
    <header class="bg-dark text-center text-white jumbotron">

        <div class="container">
            <h1>Solid Blog Simulation</h1>
        </div>
    </header>
    <div class="container" id="vm">
        <blog-roll v-bind:posts="posts"></blog-roll>
    </div>
    <script src="static/app.js"></script>
</body>

</html>